* {
    box-sizing: border-box;

}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#nav-list a {
  color: black;
}

#nav-list a:hover {
  background: white;
}

#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
  text-align: center;
}

#header-nav h1{
  text-align: left;
}

.section1{
  border: 15px solid transparent;
}

.section{
    border: 1px solid black;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10000px;
}

.title{
    border: 1px solid black;
    width: 150px;
    display: flex;
    justify-content: center;
    
}

#title1 {
    background-color: blue;
 
}

#title2 {
    background-color: red;
}

#title3 {
    background-color: green;
}
